<!DOCTYPE html>
<html ng-app>
    <head>
        <title>İsmail Hakkı EREN - Angular.js Örnekleri</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
    </head>
    <body>
            <input type="text" ng-model="test" /><br>
            Selam, {{test}}<br><hr/><br>
            <input type="text" ng-model="test1" /><br>
            <input type="text" ng-model="test1" /><br><hr/><br>
            <button ng-click="test2='İsmail Hakkı EREN'">Test</button><br>
            Selam, {{test2}}
    </body>
</html>