<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Angular Örnek-4</title>
        <link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/bootstrap-theme.css" rel="stylesheet" />
        <script src="js/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="js/init.js"></script>
        <script>
            var app = angular.module('myApp', []);
            app.controller('customersCtrl', function($scope, $http) {
                $http.get("http://www.w3schools.com/angular/customers.php").then(function (response) {
                    $scope.myData = response.data.records;
                });
                
                $scope.incompleteCount = function () {
                    var count = 0;
                    angular.forEach($scope.myData, function (x) {
                        if (x.deneme) { count++ }
                    });
                    return count;
                }
                
                $scope.warningLevel = function () {
                    return $scope.incompleteCount() > 10 ? "label-success" : "label-warning";
                }
            });
        </script>
    </head>
    <body>
        <div class="col-lg-12" ng-app="myApp" ng-controller="customersCtrl">
            <div class="page-header">
                <h1>Angular.js Json Örneği
                    <span class="deneme" > Toplam Sonuç : {{myData.length}}</span>
                    <span class="label label-default" ng-class="warningLevel()" >
                        {{incompleteCount()}}
                    </span>
                </h1>
            </div>
            <div> 
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>İsim</th>
                            <th>Şehir</th>
                            <th>Ülke</th>
                            <th>Seçim</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in myData">
                            <td>{{x.Name}}</td>
                            <td>{{x.City}}</td>
                            <td>{{x.Country}}</td>
                            <td><input type="checkbox" ng-model="x.deneme" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>